<div class="row">
  <form class="col s12" (ngSubmit)="buscar(buscarForm.value)" [formGroup]="buscarForm">
    <div class="row">
      <div class="input-field col s10">
        <input type="text" formControlName="query" placeholder="Ingrese el nombre del personaje que desea buscar" id="nombre_personaje">
      </div>

      <div class="input-field col s2">
        <button [disabled]="buscarForm.valid === false" class="btn waves-effect waves-light" type="submit" name="action">Buscar
          <i class="material-icons right">keyboard_arrow_right</i>
        </button>
      </div>
    </div>
  </form>
</div>
